.calendar-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100vh;
    overflow: scroll;
}

/* Day */
.day-column{
    margin : 1em 0.1em;
    border-radius: 0.3em;    
    background: #ffffff;
}
.day-column .date-text-title{
    text-align: center;
}

.day-column .date-text-title .day-of-week{
    
}

.is-today{
   background: black;
   color: white; 
}

/* Card */
.card-box{
    margin: 0.15em 0.1em;
    padding: 0.15em 0.3em;
    background: #dddddd;
    border-radius: 0.3em;
}

.card-box.update{
    position: absolute;
    z-index: 10000;
    width: 300px;
    margin-left: -50px;
    background: #ffffff;
    border: solid 2px black;
}