<<<<<<< HEAD
.signin-container{
    border: 1px solid black;
=======
.container{
>>>>>>> fa8b81153b496303ec734341637ac2119709d866
    text-align: center;
}
.signin-containertainer .title{
    font-weight: bold;
    font-size: 34px;
}
.signin-container .content div{
    margin-top: 10px;
}
<<<<<<< HEAD
.signin-container .content label{
    font-size: 12px;
=======
.container .content .error{
    font-size: 13px;
>>>>>>> fa8b81153b496303ec734341637ac2119709d866
    color: red;
}
.signin-form-container div .hidden{
    visibility: hidden;
}