.signin-container{
    border: 1px solid black;
    text-align: center;
}
.signin-container .title{
    font-weight: bold;
    font-size: 34px;
}
.signin-container .content div{
    margin-top: 10px;
}
.signin-container .content label{
    font-size: 12px;
    color: red;
}
.signin-form-container .title{
    font-weight: bold;
    font-size: 20px;
}
.signin-form-container .hidden{
    visibility: hidden;
}