.container{
    text-align: center;
}
.container .title{
    font-weight: bold;
    font-size: 34px;
}
.container .content div{
    margin-top: 10px;
}
.container .content .error{
    font-size: 13px;
    color: red;
}